@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');

/* ---------------------------------- ROOT ---------------------------------- */
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* default theme colors */
  --green_dark: #004643;
  --green_extra_dark: #001e1d;
  --green_light: #abd1c6;
  --white: #fffffe;
  --yellow: #f9bc60;
  --orange_burnt: #e16162;
  --purple: #7d2acf;
  --orange: #ff760d;
}

::selection {
  background: var(--yellow);
  color: var(--green_dark);
}

html {
  font-size: 16px;
  background-color: var(--green_dark);
}

body {
  background-color: var(--green_dark);
  margin: auto;
  width: 85vw;
  min-height: 100vh;
  color: var(--green_light);
}

h1.site-title {
  color: var(--white);
  font-size: 3.2rem;
  margin: 2rem 0px 0px;
}

h2.section-header {
  background-color: var(--yellow);
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--green_extra_dark);
  border-radius: 2px;
  border: 2px solid var(--green_extra_dark);
  margin: 5rem 0 0px;
}

h2.section-header::selection {
  background: var(--green_dark);
  color: var(--yellow);
}

div.app-container {
  overflow-x: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 2rem;
  font-weight: 400;
}

footer.site-footer {
  text-align: center;
  margin: 4rem 0 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 3rem;
}

.searchContainer .searchBar {
  width: 100%;
  height: inherit;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.10);
}

.searchFilters {
  margin-top: 1rem;
  width: 100%;
  /* border: 1px solid var(--green_light); */
  padding: 5px;

}

.searchFilters input[type="checkbox"] {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin: 0 0.4rem 0 1rem;
}

/* ---------------------------------- TAGS ---------------------------------- */
a {
  text-decoration: inherit;
  color: var(--yellow);
}

a:hover {
  color: var(--orange_burnt);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

blockquote {
  background-color: var(--white);
  border: 2px solid var(--green_extra_dark);
  border-radius: 4px;
  color: var(--green_extra_dark);
  min-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7rem;
}

button {
  min-height: 2rem;
  min-width: 6rem;
  background-color: var(--orange_burnt);
  color: var(--white);
  border: none;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: var(--green_light);
}

button:active{
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.40) inset;
}

caption {
  padding: 0.3rem;
  caption-side: bottom;
}

code {
  background-color: var(--green_light);
  color: var(--green_extra_dark);
  padding: 0.1rem 0.3rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 2px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}

.colgroup {
  background-color: var(--green_extra_dark);
}

.datalist {
  display: block!important;
  border: 1px solid red;
  width: 100%;
}

data:hover::after {
  content: ' (Machine-Readable ID = ' attr(value) ')';
  font-size: 0.7rem;
}

del {
  display: block;
  text-decoration: none;
  position: relative;
  background-color: #fbb;
  width: 100%;
  color: var(--green_extra_dark);
  padding: 0.3rem;
  margin: 0.8rem 0;
}

del::before {
  position: absolute;
  left: -2rem;
  font-family: monospace;
  content: '-';
  color: #fbb;
}

hr {
  border: 1px solid var(--green_light);
}

input {
  height: 1.4rem;
  border-radius: 3px;
  border: none;
}

ins {
  display: block;
  text-decoration: none;
  position: relative;
  background-color: #d4fcbc;
  width: 100%;
  color: var(--green_extra_dark);
  padding: 0.3rem;
  margin: 0.8rem 0;
}

ins::before {
  position: absolute;
  left: -2rem;
  font-family: monospace;
  content: '+';
  color: #d4fcbc;
}

kbd {
  border: 2px solid var(--yellow);
  padding: 0.3rem 1rem;
  border-radius: px;
  color: var(--yellow);
}

label {
  margin-right: 0.6rem;
}

mark {
  background-color: var(--orange_burnt);
  color: var(--white)!important;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

progress {
  background-color: var(--green_dark);
  border: 0.5px solid var(--yellow);
  border-radius: 1px;
  width: 40%;
}

progress::-webkit-progress-bar {
  background-color: var(--green_dark);
  border: 0.5px solid var(--yellow);
  border-radius: 1px;
}

progress::-webkit-progress-value {
  background-color: var(--yellow);
}

progress::-moz-progress-bar{
  background-color: var(--yellow);
}

#table {
  border: 1px solid var(--green_light);
  border-collapse: collapse;
  width: auto;
  text-align: left;
}

#table th, #table td {
  border-bottom: 1px solid var(--green_light);
  padding: 7px;
}

time {
  font-weight: bold;
}

textarea {
  width: 50%;
}

#wbr {
  overflow: hidden;
  resize: horizontal;
  width: 35%;
  border: 1px solid var(--green_light);
  padding: 5px;
}

/* ----------------------------- COMMON CLASSES ----------------------------- */
.font-bowlby {
  font-family: 'Bowlby One', cursive;
}

.font-italics {
  font-style: italic;
}

.font-bold {
  font-weight: 800;
}

.m-btm-medium {
  margin-bottom: 2rem;
}

.m-top-btm {
  margin: 1rem 0;
}

.m-btm-large {
  margin-bottom: 4.5rem;
}

.display {
  display: block;
}

.display-none {
  display: none
}

.display-flex {
  display: flex;
}

.list-style-type-none {
  list-style-type: none;
  margin: 0 0.2rem;
}