.tag-section {
    /* border: 1px solid peachpuff; */
    margin: 3rem 0 0.5rem;
    padding: 0;
}

.tag-label {
    color: var(--white);
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    margin: 0 0 0.4rem;
}

.tag-example {
    color: var(--green_light);
    border: 2px dashed var(--green_extra_dark);
    border-radius: 2px;
    padding: 0 0.6rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
}

.tag-attribute-label {
    margin: 0;
}

.tag-attribute {
    margin: 0 0.1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    background-color: var(--orange_burnt);
    color: var(--white);
}