.tag-section {
    /* border: 1px solid peachpuff; */
    margin: 3rem 0 0.5rem;
    padding: 0;
}

.tag-label {
    color: var(--white);
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    margin: 0 0 0.4rem;
}

.tag-example {
    color: var(--green_light);
    border: 2px dashed var(--green_extra_dark);
    border-radius: 2px;
    padding: 0 0.6rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
}

.tag-attribute-container {
    margin: 0 0 0.3rem;
}

.tag-attribute {
    display: inline-block;
    margin: 0 0.3rem;
    padding: 0 0.3rem;
    border-radius: 6px;
}

.tag-optional {
    border: 2px solid var(--purple);
}

.tag-required {
    border: 2px solid var(--orange);
}

.tag-deprecated {
    text-decoration: line-through;
}

.tag-information {
    background-color: var(--green_light);
    color: var(--green_dark);
    border-radius: 2px;
}

.tag-information tr, td {
    padding: 5px;
    margin: 0;
    height: 0;
    font-weight: 500;
}

.tag-information th {
    padding: 1rem;
}