.tag-section {
    margin: 3rem 0 0.5rem;
    padding: 0;
}

.tag-section iframe {
    border: none;
    width: 100%;
    height: 152px;
}

.tag-section bdo {
    text-align: right;
    width: 100%;
}

.tag-label {
    color: var(--white);
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    margin: 0 0 0.4rem;
}

.tag-example {
    color: var(--green_light);
    border: 2px dashed var(--green_extra_dark);
    border-radius: 2px;
    padding: 0 1.1rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
}

.tag-example.remove-flex {
    display: block;
}

.tag-example.remove-flex br {
    margin: 0;
}

.tag-attribute-container {
    margin: 0 0 0.3rem;
}

.tag-attribute {
    display: inline-block;
    margin: 0.2rem 0.3rem;
    padding: 0 0.3rem;
    border-radius: 4px;
}

.tag-none {
    text-decoration: underline;
    opacity: 0.5;
}

.tag-optional {
    border: 2px solid var(--purple);
}

.tag-required {
    border: 2px solid var(--orange);
}

.tag-deprecated {
    text-decoration: line-through;
    opacity: 0.8;
}

.tag-information {
    background-color: var(--green_light);
    color: var(--green_dark);
    border-radius: 2px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.tag-information tr, td {
    padding: 0 25px 0 0;
    margin: 0;
    height: 0;
    font-weight: 500;
}

.tag-information th {
    padding: 1rem;
}

.tag-link-container a {
    color: var(--green_dark);
    text-decoration: underline;
}

.tag-link-container, .tag-link-container a {
    padding: 0;
}